@import './base.css';
@import 'tailwindcss';
@import "tailwindcss-primeui";

@theme {
  --font-display: 'Mokoto', 'sans-serif';
  --font-glitch: 'Mokoto Glitch 2', 'sans-serif';
  --font-breath: 'Breathing', 'sans-serif';
  --font-desc: 'Helvetica', 'sans-serif';
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: gray;
}

p{
  line-height: 130%;
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Helvetica.ttf');
}

@font-face {
  font-family: 'Breathing';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Breathing.ttf');
}

@font-face {
  font-family: 'Mokoto Glitch 2';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/MokotoGlitchMark2.ttf');
}

@font-face {
  font-family: 'Mokoto';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/mokoto.regular.ttf');
}


a {
  text-decoration: none;
  transition: 0.4s;
}

.nav-bar li {
  padding: 10px;
}